.input{
    width: 90%;
    background-color: var(--input-green);
    border: none;
    border-radius: 4px;
    color: white;
}

.input-label{
    color: var(--primary-green);
    font-weight: 600;
}
