

.alice-carousel__prev-btn, .alice-carousel__next-btn{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}


.alice-carousel__prev-btn-item, .alice-carousel__next-btn-item{
    color: var(--primary-green) !important; 
}

.alice-carousel__prev-btn-item.__inactive, .alice-carousel__next-btn-item.__inactive{
    color: var(--dark-bg);

}