.long-title{
    font-family: 'Crimson Pro', serif;
    font-size: 45px;
    color: var(--primary-green);
    text-align: left;
}

.medium-title{
    font-family: 'Crimson Pro', serif;
    font-size: 40px;
    color: var(--primary-green);
    text-align: left;
}

.short-title{
    font-family: 'Crimson Pro', serif;
    font-size: 36px;
    color: var(--primary-green);
    text-align: left;
}

.long-r-title{
    font-family: 'Crimson Pro', serif;
    font-size: 27px;
    color: var(--primary-green);
    text-align: center;
}

.medium-r-title{
    font-family: 'Crimson Pro', serif;
    font-size: 25px;
    color: var(--primary-green);
    text-align: left;
}

.short-r-title{
    font-family: 'Crimson Pro', serif;
    font-size: 23px;
    color: var(--primary-green);
    text-align: left;
}