.project-link {
    color: #A6A8AA;
    outline: none;
    text-decoration: none;
    text-align: right;
}

.project-link:hover {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}