
.contact-form{
    font-family: 'Share', cursive;
    background-color: var(--dark-card);
    border-radius: 5px;
    box-shadow: 1.1em 1.1em 10px var(--dark-text);
    padding: 15px 0;
}


.btn-contact{
    border: 2px solid var(--primary-gray);
    color: var(--primary-gray);
    background-color: transparent;
    border-radius: 7px;
    margin: 1px 1px;
    padding: 2px;
    width: 45%;
    font-weight: 600;
}

.btn-contact:hover{
    border: 2px solid white;
    color: white;
}