.description{
    color: var(--primary-gray);
    text-align: left;
    font-weight: 600;
    font-family: 'Share';
    font-style: italic;
}

.description-r{
    color: var(--primary-gray);
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Share';
    font-style: italic;
}
