.navbar{
    background-color: var(--dark-bg);
    font-family: 'Nunito', sans-serif;
}

.navbar-nav{
    margin-left: auto !important;
}

.navbar-r{
    background-color: var(--dark-bg);
    font-family: 'Nunito', sans-serif;
    justify-content: center;
}


.navbar-r-nav{
    display: inline-flex;
    justify-content: center;
}

.nav-link{
    color: var(--primary-green);
    border-radius: 10px;
}

.nav-link:hover{
    background-color: var(--secondary-green);
    color: #fff;
    border-radius: 10px;
}

.nav-link-active{
    background-color: var(--primary-green);
    color: var(--dark-text);
    border-radius: 10px;
}

.nav-link:focus {
    color: var(--dark-text);
}