.subtitle{
    font-family: 'Share', cursive;
    color: var(--primary-gray);
    text-align: left;
}

.subtitle-r{
    font-family: 'Share', cursive;
    font-size: 20px;
    text-align: center;
    color: var(--primary-gray);
    padding: 5px;
}