.alice-carousel ul li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.sliderimg {
    border: 3px solid var(--primary-green);
    border-radius: 1%;
    max-width: 100%;
    max-height: 80%;
    object-fit: contain;
}

.slidericon {
    max-width: 55%;
    max-height: 80%;
    object-fit: contain;    
}