footer{
    font-family: 'Nunito', sans-serif;
}

.footer-icon{
    color: var(--secondary-green);
}

.footer-primary-text{
    color: var(--primary-green);
    font-weight: bolder;
    font-size: small;
}

.footer-secondary-text{
    color: var(--primary-gray);
    font-size: small;
}

.footer-icon-r{
    color: var(--secondary-green);
    font-size: 27px;
}

.footer-r-primary-text{
    color: var(--primary-green);
    font-weight: bolder;
    font-size: x-small;
}

.footer-r-secondary-text{
    color: var(--primary-gray);
    font-size: x-small;
}
