:root{
  --primary-green: #4CA5A0;
  --secondary-green: #34716D;
  --third-green: #7BC2BE;
  --input-green: #405251;
  --primary-gray: #A6A8AA;
  --primary-black: #2C2C2C;
  --secondary-black: rgba(17,17,17,0.8);
  --dark-bg: #363636; 
  --dark-text: #121212;
  --dark-card: #2C2C2C;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-gray); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-green); 
  border-radius: 10px;
}

html{
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--dark-bg);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
